*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;

}



.base_map_div{
    margin-top: 8rem;
    margin-left: 1rem;
    border-radius: 15px;
    width: 45%;
    height: 100rem;
}

.theme_switch_div{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

.navbar{padding: 0.1rem!important;}

.navbar_div{
    position: fixed;
    top: 0;
    width: 100%;
}

.filtros_tipo_div{
    padding-left: 1rem;
}

.filtro_operacao{
    width: 15rem!important;
    padding-right: 15rem!important;
}

.filtro_selecionar_coluna{
width: 17rem!important;
}

.form-control{
    padding: 0!important;
}



#filtro_basico_valor{
    width: auto;
    height: 2.4rem;
    text-align: center;
}

.Select-menu-outer{ 
    background-color: rgb(134, 134, 134)!important;
    z-index: 9999;
}

.Select-clear{
    width: 0!important;
    display: none;
}

.navbar-nav{
    width: 100%;
    justify-content: space-evenly;

}

.filter{
    display: flex;
    gap: 0.5rem;
}

.layer_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
}
.layer_toggle_div{
    width: 100%;
}

.layer_toggle_div > div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

.layer_div h6{
    color: #2fa4e7!important;
}