.leaflet-control-layers {
    display: none;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-auto-flow: column;
}

#distrito_wrapper {
    display: flex;
}

#distrito_wrapper .layer_header, #info_panel .layer_toggle {
    width: 25vw;
}

#dados_setores {
    max-height: 50vh;
    overflow-y: scroll;
}

#filtro_coluna {
    width: 30%;
}

#filtro_operador {
    width: 10%;
}

#filtro_basico_valor{
    width: 60%;
}

#filtro_avancado_valor{
    width: 100%;
}

#componente_filtro button {
    width: 20%;
}