.leaflet-control-layers {
    display: none;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 97vh;
    grid-auto-flow: column;
}

#distrito_header {
    display: flex;
}

#distrito_wrapper .layer_title, #info_panel .layer_toggle {
    width: 25vw;
}

#dados_setores {
    max-height: 50vh;
    overflow-y: scroll;
    margin-top: 1rem;
}




#filtro_avancado_valor{
    width: 100%;
}

#componente_filtro button {
    width: 20%;
}

#detalhes_setor_ label {
    min-width: 50%;
    width: 50%;
}

tr:has(td.cell--selected)>td {
    background-color: var(--selected-background) !important;
}